<!-- extend base layout -->
{% extends "base1.html" %}
{% block content %}
{% include 'flash.html' %}
<div class="row">
      

        <div class="col-md-8">
            <br />
            <h3>{{title}} ({{departments |length}})</h3> 


<br />
<br />
<table class="table table-hover">
                <thead><tr>
                <th>Department Name</th>
                </tr>
                </thead>


 {% for dept in departments %}
 <td>{{dept.dept_name}} <a href="{{url_for('changedeptname',id=dept.id)}}"> &nbsp; <i class="fas fa-edit"></i></a></td>
            <td>
                <a class="btn
                btn-info btn-xs" href="{{url_for('dept_members',id=dept.id)}}"><b><span class="glyphicon
                        glyphicon-user"></span></b> List Dept. Members </a>
 
            </td>

            </tr>
            {% endfor %}

            </table>
    </div>



        <div class="col-md-4">
            <h3> Create a New Department  </h3>


    {% from "_formhelpers.html" import render_field %}
    <div class="well col-md-12">
    <form class="form" method="post" action="" role="form">
                        {{form.hidden_tag()}}
    <dl>
        {{ render_field(form.dept_name) }}
    </dl>
    <p><input type="submit" value="Save"> </p>
    </form>
    </div>
        
</div>


    </div>

{% endblock %}
