<!-- extend base layout -->
{% extends "base1.html" %}
{% block content %}
<br />
<a href='{{ url_for('detail',id=user.id) }}'> &lt;&lt; Back to detail </a>
{% include 'flash.html' %}
<div class="row">
        <div class="col-md-8 col-md-offset-4">
            <h3>Relatives for {{user.firstname}} {{user.lastname}} </h3> 

            <br />

            {% for relative in relatives %} {{loop.index}}. {{relative.User.firstname}} {{relative.User.lastname}} ({{relative.Family.type}}) &nbsp;&nbsp;<a href="{{url_for('removefam',id=relative.FamilyRelationship.id,fid=user.id)}}" onclick="javascript: return deleteItem();" style="color:red;"> <i class="fas fa-trash-alt"></i> </a> <br>
          {% endfor %} 
          <br />

{% from "_formhelpers.html" import render_field %}
<div class="well col-md-4">
<form class="form" method="post" action="{{url_for('editrelative',id=user.id)}}" role="form">
                    {{form.hidden_tag()}}
  <dl>
    {{render_field(form.user) }}
    {{render_field(form.type) }}
  </dl>
  <p><input type="submit" value="Save"> </p>
</form>
</div>



      </div>
    </div>

{% endblock %}
