<!-- extend base layout -->
{% extends "base1.html" %}
{% block content %}
{% include 'flash.html' %}


<script>
    $(function() {
        $(".datepicker").datepicker({dateFormat: 'yy-m-d'});
    });
  </script>


<div class="row">
        <div class="col-md-6 col-md-offset-4">
            <br />
            <h3>Edit User: {{user.firstname}} {{user.lastname}}</h3> 

{% from "_formhelpers.html" import render_field %}
<form class="form" method="post" action="{{url_for('edituser',id=id)}}" enctype="multipart/form-data" role="form">
                    {{form.hidden_tag()}}
  <dl>
    {{ render_field(form.firstname,class="form-control input-lg") }}
    {{ render_field(form.lastname,class="form-control input-lg") }}
    {{ render_field(form.middlename,class="form-control input-lg")}}
    {{ render_field(form.gender)}}
    {{ render_field(form.email,class="form-control input-lg") }}
    {{ render_field(form.dob,class='datepicker')}}
    {{ render_field(form.marriage_date,class='datepicker')}}
    {{ render_field(form.baptism_date,class='datepicker')}}
    {{ render_field(form.marital_status)}}
    {{ render_field(form.no_children)}}
    {{ render_field(form.employment_status)}}
    {{ render_field(form.deceased)}}
    {{ render_field(form.picture) }} 
    {{ render_field(form.occupation,class="form-control input-lg") }}
    {{ render_field(form.place_of_employment,class="form-control input-lg") }}
    {{ render_field(form.certification,class="form-control input-lg") }}
    {{ render_field(form.street,class="form-control input-lg") }}
    {{ render_field(form.city,class="form-control input-lg") }}
    {{ render_field(form.state) }}
    {{ render_field(form.zip) }}
  </dl>
  <p><input class="btn btn-block btn-success" type="submit" value="Save Edits for User"> </p>
</form>

      </div>
    </div>

{% endblock %}
