<!-- extend base layout -->
{% extends "base1.html" %}
{% block content %}
{% include 'flash.html' %}
<div class="row my-4">

              <!--<h4 align="center"><a href="" class="btn btn-warning">Register</a> </h4>-->

        <div class="col-md-4">
            <h3>Member Login</h3> 
            <br />


        <div class="center">

        <form class="form-horizontal" role="form" method="post">
                    {{form.hidden_tag()}}
    <p class="h4 mb-4">Log In </p>
                   <div class="form-group{% if form.errors.email %} has-error{% endif %}">
                    <div class="col-md-8">
                            {{ form.email(class="form-control",placeholder="Email")}}
                            {% for error in form.errors.email %}
                                <span class="help-inline myerror">[{{error}}]</span><br>
                            {% endfor %}
                    </div>
                </div>
                   <div class="form-group{% if form.errors.password %} has-error{% endif %}">
                    <div class="col-md-8">
                            {{ form.password(class="form-control",placeholder="Password")}}
                            {% for error in form.errors.password %}
                                <span class="help-inline myerror">[{{error}}]</span><br>
                            {% endfor %}
                    </div>
                </div>

                    <div class="checkbox">
                        <label for="remember_me" class="control-label">
                        {{ form.remember_me()}}
                        Remember me
                        </label>
                    </div> <br />

                <div class="form-group">
                    <div class="col-md-8">
                        <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-lock"></span> Sign In</button>
                    </div>
                    <br />
                </div>

                <!--<a href="{{url_for('register')}}">Register</a> | <a href="">Forgot Password</a>-->
        </form>
        </div>
        </div>


        <div class="col-md-8">
            <h3 align="center">The Kencot SDA Church DBMS </h3>
            <br />
            <br />
            <br />
            <br />
            <img class="img-fluid" src="/static/img/kencot.jpg"> 
       <div/>


        
      
    </div>

{% endblock %}
