<!-- extend base layout -->
{% extends "base1.html" %}
{% block content %}
<h4>Hi, {{g.user.firstname}} {{g.user.lastname}} </h4>
{% include 'flash.html' %}





<div class="row">
      

        <div class="col-md-8">
            <h3>{{title}} of {{sschool.name}} ({{ssmembers|length}})</h3> 

<br />

<a class="btn btn-primary btn-xs" href="{{url_for('class_attendance',sid=sschool.id)}}"> Attendance History for Class</a>
 
<br />
<br />
<b>Teachers:</b>
{% for t in ssteachers %}
      <i>{{t.User.firstname}}  {{t.User.lastname}} &nbsp;</i>
{% endfor %}

<br />
<br />
<table class="table table-hover">
                <thead><tr>
                <th>Picture</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>View</th>

                </tr>
                </thead>


 {% for user in ssmembers %}
              <tr class="{% if loop.index % 2==0 %}even{%else%}odd{% endif %}">
                <td>
                    {% if not user.User.picture %} 
                        <img src="/static/img/noimage.jpg" width='40px'
                        height='40px'> 
                    {% else %}
                        <img src="{{url_for('uploaded_file',filename=user.User.picture)}}" width="40px">
                    {% endif %}
                </td>
                <td>{{user.User.firstname}}</td>
                <td>{{user.User.lastname}} </td>
                <td>{{user.User.email}} </td>
            

            <td>
            
    <a class="btn
            btn-warning btn-xs" href="{{url_for('attendance',id=user.User.id,sid=sschool.id)}}"><b><span class="glyphicon
                        glyphicon-calendar"></span></b>Attendance</a>
 

<a class="btn btn-danger btn-xs" href="{{url_for('deregister',id=user.User.id,sid=sschool.id)}}" onclick="javascript:return deleteItem();">
                        <i class="fas fa-trash-alt"></i>    </a>
 



            </td>


            </tr>
            {% endfor %}

            </table>
    </div>





        <div class="col-md-4">
            <h3> Add Member </h3>



{% from "_formhelpers.html" import render_field %}
<div class="well col-md-4">
<form class="form" method="post" action="{{url_for('ss_members',id=sschool.id)}}" role="form">
                    {{form.hidden_tag()}}
  <dl>
    {{ render_field(form.member) }}
    {{ render_field(form.teacher) }}
  </dl>
  <br />
  <p><input type="submit" value="Attach Memeber"> </p>
</form>
</div>

<br />

        </div>

    </div>

{% endblock %}
